<a href="https://colab.research.google.com/github/nancymary-web/Project1/blob/master/Copy_of_1_Basic_Python_Implementation_for_Neural_Nets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [6]:
data=pd.read_csv('/1_Churn_Modelling.csv')

In [ ]:
# Business problem:-To find out whether customers will leave the bank or not.

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
## missing values check
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
data.isnull().sum()

In [ ]:
data.Geography.unique()

In [ ]:
pd.get_dummies(data.Geography)

In [ ]:
# Converison of categorical data
Geography=pd.get_dummies(data.Geography)
Gender=pd.get_dummies(data.Gender)

In [ ]:
Gender

In [ ]:
data=pd.concat([data,Geography,Gender],axis=1)

In [ ]:
data

In [ ]:
data.drop(['Geography','Gender'],axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
data.columns

In [ ]:
data.head()

In [ ]:
## Creating independent and dependent variable.
X=data.loc[:,['CreditScore', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary','France','Germany', 'Spain','Female', 'Male']]
y=data.Exited

In [ ]:
y

In [ ]:
X

In [ ]:
## Training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=20)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
X_train

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
mydf = pd.DataFrame(X_train,columns=['CreditScore', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary','France','Germany', 'Spain','Female', 'Male'])
mydf

In [ ]:
print(mydf['Tenure'].mean())
print(mydf['Tenure'].std())

In [ ]:
import seaborn as sns
sns.kdeplot(mydf['Tenure'])

In [ ]:
print(X_train[:,0].mean())
print(X_train[:,0].std())

In [ ]:
print(X_train[:,2].mean())
print(X_train[:,2].std())

In [ ]:
import seaborn as sns
sns.kdeplot(X_train[:,2])

In [ ]:
import seaborn as sns
sns.kdeplot(X_train[:,0])

In [ ]:
from tensorflow.keras.layers import Dense

In [ ]:
from keras.layers import Dense

In [ ]:
## Sequential modelling and functional modelling
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout # used to prevent overfitting

In [ ]:
# Defining the model
model=Sequential()

# Adding input layer to first hidden layer
model.add(Dense(units=16,input_dim=13,activation='relu',
                kernel_initializer='he_uniform'))

# Adding first hidden layer to second hidden layer
model.add(Dense(units=20,activation='relu',kernel_initializer='he_uniform'))

# Adding second hidden layer to third hidden layer
model.add(Dense(units=8,activation='relu',kernel_initializer='he_uniform'))

# Adding third hidden layer to output layer
model.add(Dense(units=1,activation='sigmoid',kernel_initializer = 'glorot_uniform'))

model.summary()

In [ ]:
weights, bias = model.layers[0].get_weights()

In [ ]:
weights.shape

In [ ]:
model.summary()

In [ ]:
...
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam',
              metrics=['accuracy'])

In [ ]:
X_train.shape

In [ ]:
# fit the keras model on the dataset
model_history=model.fit(X_train, y_train, epochs=50,validation_split=0.33, batch_size=32)

In [ ]:
model_history.history.keys()

In [ ]:
model_history.history['val_accuracy']

In [ ]:
import matplotlib.pyplot as plt
plt.plot(model_history.history['accuracy'],label='accuracy')
plt.plot(model_history.history['val_accuracy'],color='red',label='val_acc')
plt.legend()

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)

In [ ]:
y_test

In [ ]:

y_pred

In [ ]:
abc = []
for i in y_pred:
  if i[0] <= 0.5:
      abc.append(0)
  else:
    abc.append(1)
abc = np.array(abc)

In [ ]:
abc

In [ ]:
## < 0.5 = 0
## >= 0.5 = 1

y_prediction = np.array([1 if i >= 0.5 else 0 for i in y_pred.reshape(2500,)])

In [ ]:
accuracy_score(y_test,y_prediction)

In [ ]:
model.evaluate(X_test,y_test)

In [ ]:
...
# evaluate the keras model
accuracy = model.evaluate(X_test, y_test)
accuracy

In [ ]:
# list all data in history
print(model_history.history.keys())

In [ ]:
model_history.history

In [ ]:
# summarize history for accuracy
import matplotlib.pyplot as plt
plt.plot(model_history.history['accuracy'])
plt.plot(model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'])
plt.show()

In [ ]:
# summarize history for loss
plt.plot(model_history.history['loss'])
plt.plot(model_history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
#Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

In [ ]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score